* {
	margin: 0;
	padding: 0;
	user-select: none;
	box-sizing: border-box;
}

body {
	background-color: rgb(98, 0, 255);
	justify-content: center;
	align-self: center;
	display: flex;
	min-height: 100vh;
}

.box {
	background-color: rgb(255, 255, 255);
	padding-top: 30px;
	padding: 30px;
	height: 100%;
}

.box h2{
  margin-bottom: 40px;
  text-align: center;
  font-size: 26px;
  color: #015a96;
  font-family: sans-serif;
}

#password {
	padding: 20px;
	user-select: none;
	height: 50px;
	width: 400px;
	border-radius: 6px;
	border: none;
	border: 2px solid #8d0cf7;
	font-size: 22px;
	outline: none;
}

#len {
	user-select: none;
	width: 400px;
	border-radius: 6px;
	border: none;
	font-size: 22px;
	outline: none;
	margin-top: 10px;
}

#password::placeholder{
	font-size: 23px;
}

#button {
	font-family: sans-serif;
	font-size: 15px;
	border: none;
	width: 155px;
	height: 50px;
	margin-top: 1em;
	text-align: center;
	background-color: #7100cf;
	display: flex;
	color: rgb(255, 255, 255);
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 12px;
}

.btn2{
	margin-left: 85px;
}

#button:hover {
	color: white;
	background-color: rgba(195, 0, 255, 0.705);
}

h3 {
	margin-top: 30px;
}

#lenght {
	position: absolute;
	margin-top: -10px;
	left: 45%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
}

.custom {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.custom+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
	margin-top: 1em;
}
.custom+label::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #adb5bd;
	border-radius: 0.25em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

label {
	font-size: large;
	font-weight: bolder;
}

.custom:checked+label::before {
	border-color: #0b76ef;
	background-color: #0b76ef;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* при наведении курсора на checkbox */
.custom:not(:disabled):not(:checked)+label:hover::before {
	border-color: #b3d7ff;
}
  /* стили для активного состояния чекбокса (при нажатии на него) */
.custom:not(:disabled):active+label::before {
	background-color: #b3d7ff;
	border-color: #b3d7ff;
}
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom:focus:not(:checked)+label::before {
	border-color: #80bdff;
}
  /* стили для чекбокса, находящегося в состоянии disabled */
.custom:disabled+label::before {
	background-color: #e9ecef;
}

#one {
	margin-top: -21px;
	margin-left: 8em;
}

#maxHistory {
	position: absolute;
	top: 783px;
	color: #fa0000
}

.history h4 {
	user-select: text;
}

.history {
	margin-top: 10px;
	margin-bottom: 500px;
}

#clear-history {
	height: 50px;
	width: 1000px;
	padding: 13px;
	font-size: 15px;
	border: none;
	border-radius: 12px;
	color: #fff;
	background: #6f00ff;
	cursor: pointer;
	margin-bottom: 30px;
}

#clear-history:hover {
	background: #6f00ff91;
}

.buttons {
	margin-top: -9px;
}

.dropbtn {
	background-color: #9900ff;
	color: white;
    padding: 16px;
    font-size: 13px;
    border: none;
	border-radius: 5px;
    cursor: pointer;
	transition: background-color 1s;
}
.dropbtn:hover {
	background-color: #2f00ff;
}
.dropdown {
    position: relative;
	right: 47%;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ca8aff;
	color: #fff;
    min-width: 160px;
	padding: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	border-radius: 5px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: rgb(5, 217, 255);border-radius: 5px;}
.show {display:block;}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
	margin-bottom: 100px;
}

.mySlides {
	display: none;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.3);
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 12px 2px 2px 12px;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 2px 12px 12px 2px;
  }

  .prev:hover, .next:hover {
	background-color: rgba(134, 134, 134, 0.8);
  }

  .text {
	color: #f5ecec;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }
  .numbertext {
	color: #000;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }

  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color #717171;
  }

  .active, .dot:hover {
	background-color: #717171;
  }

  .fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }

  @keyframes fade {
	from {opacity: .4;}
	to {opacity: 1;}
  }

  .inbox {
	margin: auto;
	align-items: center;
	text-align: center;
  }
  table {
	position: relative;
	left: 30%;
  }

  .inplab {
	position: relative;
	left: 28%;
	bottom: 205px;
  }

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #6f00ff;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #6f00ff;
    cursor: pointer;
}